<div class="main d-flex flex-lg-row flex-md-row flex-column-reverse justify-content-start ">
    <div class="l-container">


        <p class=" text-light mx-3 my-5 title">Commander votre aspirateur </p>
        <p class="text-light mx-3 fs-6 my-5">Ihoover commande est une solution développer par Yanport.
            Cette solution est purement pour un but de test.
            La partie calcul est réalisé en SpringBoot (vous pouvez la trouvez dans docker hub : wissembhk/Yanport)
            La partie front est réalisé en utilisant Angular.
        </p>

        <a class="btn btn-danger mx-3 pt-3" href="https://hub.docker.com/repository/docker/wissembhk/YanportTest">
            <p class="text-light text-center">Github repo</p>
        </a>
        <a class="btn  mx-3 pt-3" href="https://hub.docker.com/repository/docker/wissembhk/yanport_spring"
            style="background-color:transparent ; border:solid red;">
            <p class="text-light text-center">DockerHub Spring</p>
        </a>
        <a class="btn  mx-3 pt-3" href="https://hub.docker.com/repository/docker/wissembhk/yanport_angular"
            style="background-color:transparent ; border:solid red;">
            <p class="text-light text-center">DockerHub Angular</p>
        </a>
    </div>
    <div class="r-container">
        <!-- <h1 style="color: #EC5870;"><span style="color: #C8C6D7; font-size:150%">I</span>hoover Commande</h1>
        <p class="text-light fw-bold fs-4">Ihoover commande est une solution développer par Yanport.
            Cette solution est purement pour un but de test.
            La partie calcul est réalisé en SpringBoot (vous pouvez la trouvez dans docker hub : wissembhk/Yanport)
            La partie front est réalisé en utilisant Angular.
        </p>
        <button class="btn btn-danger mb-5" routerLink="/solution">Essayer la solution</button> -->
        <app-solution></app-solution>
    </div>
</div>