<nav class="navbar navbar-dark  navbar-expand-md navstyle">
    <a href="#" class="navbar-brand">
        <img style="max-width:auto;"
            src="https://storage.googleapis.com/pix.yanport.com/assets/logos/white/h-logo-white.svg" alt="">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="/" class="nav-link">Solution</a></li>
        </ul>
    </div>
</nav>