.input {
    width: 135%;
}

.result {
    border-radius: 10px;
    border: 0px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    width: 75%;
}


@media screen and (max-width: 768px) {
    .input {
        width: 100%;
    }

    .result {
        width: 100%;
    }
}